# ----------------------------------------------------------------------------
# GitHub Actions workflow to test building pasls (server).
#
# To check
# - whether it builds,
# - whether the FPC and Lazarus versions in our
#   Docker image are sufficient.
#   (Right now, IdentComplIncludeKeywords requires Lazarus >= 3.0.0).
#
# This uses GitHub-hosted runners, that is: you don't need to set up any server
# infrastructure, GitHub provides it all for free for open-source projects.
#
# See docs:
# - https://castle-engine.io/github_actions
# - https://docs.github.com/en/actions
# ----------------------------------------------------------------------------

name: Build
on: [push, pull_request]

jobs:
  build-in-docker:
    name: Build (Docker)
    runs-on: ubuntu-latest
    container: kambi/castle-engine-cloud-builds-tools:cge-none
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'
      - name: Compile Server
        run: lazbuild server/pasls.lpi

  build:
    name: Build (Not Docker)
    strategy:
      matrix:
        operating-system: [windows-latest, ubuntu-latest
          # Disabled for now, gcarreno/setup-lazarus doesn't work, "brew install lazarus" doesn't work on latest macOS
          #, macos-latest
        ]
        lazarus-versions: [stable, "3.0"]
    runs-on: ${{ matrix.operating-system }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'
      - name: Install FPC+Lazarus
        uses: gcarreno/setup-lazarus@v3.2.17
        with:
          lazarus-version: ${{ matrix.lazarus-versions }}
          # Having issues with cache in https://github.com/castle-engine/pascal-language-server/actions/runs/8438772805
          # on Linux and macOS (it is disabled on Windows by default already)
          with-cache: false
      - name: Compile Server
        run: lazbuild server/pasls.lpi
